/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.social-logos {
	display:flex;
	justify-content: space-evenly;
}
#profile-page {
	display:block;
	align-content: center;
}
.profile-page-content, .contact-info {
	text-align: center;
}
#buttons {
	text-align: center;
}
.profile-image {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100%;
	max-width: 110px;
}
.view-lean-canvas-button, .message-button {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius:18px;
	text-shadow: 3px 2px 1px #9daef5;
  	-webkit-box-shadow: 6px 5px 24px #666666;
  	-moz-box-shadow: 6px 5px 24px #666666;
  	box-shadow: 6px 5px 24px #666666;
	font-family: Arial;
  	color: #11aab8;
  	font-size: 16px;
	padding: 12px;
  	text-decoration: none;
}
