/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}


.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.social-logos {
	display:flex;
	justify-content: space-evenly;
	}
#profile-page {
	display:block;
	align-content: center;
}
.profile-page-content, .contact-info {
	text-align: center;
}
#buttons {
	text-align: center;
}

.profile-image-field {

		.profile-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 100px;
		border: 4px solid white;
		border-radius: 100px;
		}
}
.view-lean-canvas-button
.message-buttons {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 18px;
	color: #fff;
	background-color: #324a5e;
	font-size: 16px;
	padding: 12px;
}

#buttons {
	display:flex;
	justify-content: space-evenly;
}
#main {
	background: linear-gradient(to bottom, transparent, #324a5e ), url('../../images/carrot-pic.jpg') no-repeat;
	background-size: cover;
}
.contact-info {
	margin: 0 auto;
	max-width: 200px;
	display:flex;
	justify-content: left;
		h2 {
			color: white;

			p{

			
			}
		}
}	

.social-logos {
	i {
		font-size: 18px;
		color: white;
		padding: 5px;
		border: none;
		margin: 0 auto;
		
	}
}
.contact {
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	line-height: initial;
	flex-wrap: nowrap;
	border-bottom: 1px solid white;

	i {
		font-size: 16px;
		color: white;
		margin: 0 auto;
		flex-wrap: inherit;

		
	




	}
}
.shape-svg {
	width: 18px;
	height: 18px;
	margin: 0 auto; 
}
.info {
	
	padding-top: 2px;
}
.menu-toggle {
	display:none;
}
.envelope {
	display:flex;
	flex-direction: row;
}
