/* ------------------------------------

    - Dashboard / My Account SCSS -

------------------------------------ */
.page-id-230,
.page-id-239 {
    background-color: #E9F0F1;

    .dashboard-section {
        background-image: linear-gradient(#01ADB5, #4a90e2);
        height: 200px;
        width: 100vw;
        display: flex;
        justify-content: flex-end;

        @include tablet {
            height: 20vh;
        }

        @include desktop {
            height: 300px;
        }

        .edit-camera {
            width: auto;
            margin-top: 12rem;
            margin-right: 1rem;

            i {
                background: #fff;
                padding: .5rem;
                border-radius: .5rem;
                font-size: .7rem;
            }
        }
    }


    .dashboard-container {
        width: 65%;
        height: 150px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 2px 3px 0 grey;
        margin-top: -5rem;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            height: 250px;
        }

        @include desktop {
            max-width: 650px;
            height: 275px;
        }

        .dashboard-info {
            height: 80px;

            .edit-account-info {
                height: 30px;
                width: auto;
                text-align: right;
                float: right;
                cursor: pointer;


                .fa-pen {
                    font-size: .7rem;
                    margin-right: 1rem;
                }
            }

            .entry-title,
            .entry-meta,
            .entry-desc {
                text-align: center;
                margin: 0;
                @include flex-center;
                flex-direction: column;
            }

            .entry-title {
                font-size: 1.2rem;
                padding-top: .5rem;
                font-weight: 500;
                color: $color__darkgrey;

                @include tablet {
                    font-size: 1.75rem;
                    padding-top: 2.5rem;
                }

                @include desktop {
                    font-size: 2.5rem;
                    padding-top: 3.5rem;
                }
            }

            .entry-meta {
                font-size: .7rem;
                font-weight: 400;
                color: $color__darkgrey + 50%;

                @include tablet {
                    font-size: 1rem;
                }

                @include desktop {
                    font-size: 1.2rem;
                }
            }
        }

        .icon-container {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;

            @include tablet {
                margin-top: 6rem;
            }

            @include desktop {
                margin-top: 7rem;
            }

            .titles-images {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
                width: 225px;

                .dash-icon {

                    @include tablet {
                        height: 20px;
                    }

                    @include desktop {
                        height: 25px;
                        width: 25px
                    }
                }

                a,
                .dash-text {
                    font-size: .5rem;
                    color: $color__darkgrey + 50%;
                    text-decoration: none;
                    text-align: center;

                    @include tablet {
                        font-size: 1rem;
                        margin: .1rem !important;
                    }

                    @include desktop {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }
            }
        }
    }

    .dashboard-avatar {
        width: 100px;
        height: 100px;
        background: lightgray;
        border-radius: 50%;
        margin-left: auto;
        margin-top: -13rem;
        margin-bottom: 14rem;
        margin-right: auto;
        border: 5px solid white;

        @include tablet {
            margin-top: -20rem;
            margin-bottom: 18rem;
            width: 130px;
            height: 130px;
        }

        @include desktop {
            margin-top: -22rem;
            width: 150px;
            height: 150px;
            margin-bottom: 20rem;

        }

        img {
            border-radius: 50%;

            @include tablet {
                width: 130px;
                height: 130px;
            }

            @include desktop {
                width: 150px;
                height: 150px;
            }
        }
    }

    .edit-info-form {
        position: absolute;
        display: none;

        .woocommerce-EditAccountForm {
            width: 80%;
            margin: 0 auto;
        }
    }

    section.dashboard-main-body {

        @include desktop {
            height: 900px;
        }

        .dashboard-lean-canvas {
            width: 80%;
            height: 170px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 3px 0 grey;
            margin-top: -5rem;
            margin-left: auto;
            margin-right: auto;

            @include tablet {
                height: 250px;
            }

            @include desktop {
                height: 300px;
                max-width: 950px;
            }

            .lean-circle {
                border-right: 1px dashed grey;
                width: 40%;
                height: inherit;
                z-index: 5;
            }
        }


        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 2fr;
            grid-gap: 10px 10px;
            width: 60%;
            height: 250px;
            margin: 2rem auto;

            @include tablet {
                height: 400px;
                grid-gap: 40px 40px;
            }

            @include desktop {
                width: 650px;
                grid-gap: 40px 60px;
            }

            .grid-item {
                background: #fff;
                border-radius: 20px;
                box-shadow: 0px 2px 3px 0 grey;
                text-align: center;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @include desktop {
                    height: 200px;
                }

                .grid-icon {
                    max-width: 50px;

                    @include tablet {
                        max-width: 80px;
                        width: 80px;
                        max-height: 80px;
                        height: 80px;
                    }

                    @include desktop {
                        max-width: 90px;
                        width: 90px;
                        max-height: 90px;
                        height: 90px
                    }
                }

                .grid-text {
                    margin: .5rem 0 0;
                    font-size: .7rem;
                    font-weight: 400;

                    @include tablet {
                        font-size: 1rem;
                    }

                    @include desktop {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

// If user is not logged in CSS Area // 
.page-id-230 {

    .dashboard-revert {
        width: 100%;
        height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to bottom,
            rgba(25, 88, 145, 0.6) 0%,
            rgba(25, 88, 145, 0.6) 100%),
            #195891 url(../../images/login-image.jpg);
        background-size: cover;

        .revert-container {
            width: 80%;
            text-align: center;
            color: #fff;

            h1 {
                margin: 3rem 0;

            }

            .redirect-containers {
                margin: 3rem 0;

                p {
                    margin: 1rem 0;
                }

                a {
                    border-radius: 20px;
                    padding: .5rem 2rem;
                }
            }

            .revert-e-desc {
                margin: 0 auto;

                @include tablet {
                    max-width: 50%;
                }

                @include desktop {
                    max-width: 450px;
                }
            }
        }
    }
}

// Edit Account Page

.page-id-261 {
    .entry-content {
        .entry-header {
            width: 100vw;
            height: 50vh;
            background-position: center !important;
            color: white;
            text-transform: uppercase;

            .entry-title:first-letter {
                border-bottom: 1px solid white;
                border-top: 1px solid white;
            }
        }
    }

    .edit-form-container {
        padding: 1rem;
        margin-top: 2rem;
        margin: 0 auto;

        .edit-header {
            text-align: center;
            color: $color__deepblue - 10%;
        }

        .edit-info-form {
            width: 80%;
            margin: 0 auto;

            @include tablet {
                max-width: 600px;
            }

            @include desktop {
                max-width: 600px;
            }

            .woocommerce-EditAccountForm {

                .woocommerce-form-row {
                    display: flex;
                    flex-flow: column no-wrap;

                    .required {
                        color: $color__deepblue !important;
                    }

                    input[type=text],
                    input[type=email] {
                        width: 95%;
                    }

                    em {
                        color: $color__deepblue;
                        font-weight: lighter;
                    }
                }

                fieldset {
                    border: 1px solid $color__deepblue;

                    input[type=password] {
                        width: 100%;
                    }
                }
            }

            .form-row {

                .required {
                    border: none !important;
                    color: $color__deepblue;
                }

                input[type=password],
                input[type=text],
                input[type="email"] {
                    border: 1px solid #fff !important;
                    border-bottom: 1px solid $color__lightgrey !important;
                    width: 95%;
                    padding-left: 1rem;
                }
            }

            button {
                background: $color__deepblue;
                width: 100%;
                border-radius: 20px;
                height: 40px;
                font-size: 1rem;
            }
        }
    }
}