// The fixed navigation bar on the very top
.site-header {
  background-color: #00ADB5;
  border-bottom: 1px solid #e1e1e1;
  transition: top 500ms linear;
  padding: .5rem 50px;
  position: sticky;
  width: 100%;
  z-index: 3;
  height: 50px;
  top: 0;

  // test it once it is live whether the header is OK when not logged in.
  body.logged-in {
    margin-top: 0;
  }
}

// The hamburger logo, BB logo and the Login button on the navbar
.site-branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

// The "button" to make the menu to collapse to go back to the homepage
.collapse-menu {
  // border: 1px solid red;
  width: fit-content;

  // the hamburger on the navigation bar
  #menuToggle {
    display: block;
    position: relative;


    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    input {

      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */

      -webkit-touch-callout: none;

    }

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: white;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }


  }

}


#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


//  Profile container in the slide in navbar

.profile-container {
  border-radius: 5px;
  height: 150px;
  width: 300px;
  font-family: Roboto, sans-serif;
  display: flex;
  margin-top: 1rem;
  margin-left: 2.2rem;

}

// The placeholder for the profile pic in the slide in menu
.profile-pic {
  border-radius: 50%;
  background-color: white;
  width: 2.5em;
  height: 2.5em;
  font-size: 40px;
  box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.6);
}

// Name and job title underneath the placeholder
.personal-info {
  color: white;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 14px;
  margin-top: -2.5rem;

  p {
    margin: 0
  }

}

// menu options in the slide in navbar 
#menu {
  max-width: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 100px;
  list-style: none;
  background: #324a5e;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%);
  transition: transform .5s cubic-bezier(.77, .2, .05, 1);
  overflow: scroll;

  li {
    padding: 5px 0;
    font-size: 12px;
    text-decoration: none;


  }
}


.slidebar-menu {
  margin-left: -5rem;
  margin-top: -1rem;

  a>li {
    text-decoration: none;
    color: white;

  }

  a {
    text-decoration: none !important;
  }

}

.member-area-subsection {
  margin-left: 3rem;
  padding-bottom: 1rem;
  margin-top: -1rem;

  a>li {
    color: white;
  }

}

/*
 * Slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}

// BB logo in the header

.bb-logo {
  background-size: cover;
  max-width: 35px;

}

//  "Login" will be a button to click in the navbar
.login-button {
  background-color: #00adb5;
  box-shadow: none;
  border: none;
  color: white;
  text-shadow: none;
}

// Underlines for each subject in the slidebar
hr {
  width: 15rem;
}
