// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin auto-padding {
	padding: 3rem 1rem;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
 @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
   @content;
 }
}

@mixin desktop {
 @media (min-width: #{$desktop-width}) {
   @content;
 }
}

