#listMessages {
    background-color: white;
    list-style-type: none;
    padding: 0 10px;

    // height: 300px;
    // overflow-y: scroll;

    .message-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .message-avatar {
        width: 50px;
        height: 50px;
        background-color: green;
        border-radius: 25px;
        margin-right: 20px;
    }
    .no-message-avatar {
        margin-right: 70px;
    }

    .message-container {
        border-radius: 10px;
        background-color: #d8d8d8;
        padding: 10px;
        font-size: 12px;
        word-wrap: break-word;
        margin-bottom: 10px;
        width: 200px;

        .timestamp {
            font-size: 10px;
        }

        &.owner {
            margin-left: auto;
            align-self: flex-end;
            background-color: lightblue;

            .timestamp {
                
            }
        }
    }
} 

.send-message {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding: 45px 10px;
    width: 100%;


input[type="text"] {
        right: 100;
        z-index: 1;
        bottom: 1px;
        right: 70px;
        border-radius: 45px;
        padding: 10px;
}

#submit-message {
    position: relative;
    z-index: 1;
    border-radius: 45px;
    background-color:#01adb5;
    font-size: 16px;
}
}

// #content {
//     color: red;
// }

// #message_author_id {
//     color: blue;
// }

// #created_timestamp {
//     color: green;
// }

// #message_id {
//     color: yellow;
// }
