/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
    .home-hero {
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%),
            #969696 url(../../assets/images/hero.png);
    	background-size: cover;
    	background-position: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include auto-padding;
        color: white;
        line-height: 1.2;
        z-index: 3;

        h2 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .title {
            font-size: 86px;
            text-transform: uppercase;
            margin: .5rem;
        }

        p {
            font-size: 1rem;
            padding: 0 2rem;
            line-height: 1.5;
            font-weight: 200;
        }
    }

    .request-info-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color__seablue;
        color: white;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        z-index: 2;

        h2 {
            font-weight: 400;
        }
    }

    .info {
        height: auto;
        @include auto-padding;

        .info-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .info-list-item {
                display: flex;
                align-items: center;

                img {
                    height: 50px;
                    margin: 0 2rem 0 0;
                    border-radius: 50px;
                }

                .info-container {
                    width: 80%;
                    h2 {
                        font-size: 1.5rem;
                        color: $color__deepblue;

                    }

                    p {
                        color: $color__darkgrey;
                        font-weight: 200;
                        margin-top: 0;
                    }
                }
            }
        }

    }

    .our-section {
        background: $color__deepblue;
        color: white;

        img {
            width: 100vw;
        }

        .our-story {
            @include auto-padding;
            font-weight: lighter;
        }
    }

    .our-programmes {
        @include auto-padding;

        h2 {
            color: $color__deepblue;
        }

        .programmes {
            padding: 1rem 2rem 2.5rem 1rem;
            margin: 2rem 0;
            background: $color__lightgrey;

            h3 {
                color: $color__darkgrey;
            }

            p {
                font-weight: 200;
                font-size: .8rem;
            }
        }
    }

    .our-reviews {
        text-align: center;
        color: white;
        height: 400px;

        .review-container {
            background: $color__lightblue;
            padding: 3rem 1rem;
            min-height: 300px;

            .review-text {
            	padding-right: 2rem;
            	padding-left: 2rem;
                font-weight: 200;
                margin: 0 auto;
            }

            hr {
            	width: 20%;
            	background: $color__darkgrey;
            }

            .review-author {
                margin-bottom: 10%;
                h4 {
                    margin: 0;
                }

                p {
                    color: $color__darkgrey;
                    line-height: 0;
                    font-weight: lighter;
                }
            }
        }

        img {
            margin-top: -3.5rem;
            width: 110px;
            height: 110px;
            border-radius: 110px;
            border: 5px solid $color__lightblue;
        }
    }

    .our-partners {
        @include auto-padding;

        h2 {
            margin-top: 0;
            padding-bottom: 1rem;
        }

        .partners {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 20%;
                height: 20%;
            }
        }
    }

    .our-community {
        display: flex;
        flex-flow: column no-wrap;
        text-align: center;
        color: white;
        background: $color__deepblue;
        @include auto-padding;

        h2 {
        	padding: 0 2rem;
        }

        .community-containers {
            margin: 2rem;

            i {
                font-size: 2rem;
            }

            h2 {
                margin: 0;
            }
            p {
                margin: 0;
                font-weight: 200;
                font-size: .8rem;
            }
        }
    }

    .online-community {
        @include auto-padding;
        display: flex;
        align-items: center;

        a {
            color: $color__darkgrey;
        }

    }

    .association {
        background: $color__lightblue;
        color: white;

        .association-info {
            padding: 1rem 2rem 2.5rem 1rem;
            font-weight: 200;
            font-size: .8rem;
        }
    }
}
