/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
    .home-hero {
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%),
            #969696 url(../../assets/images/hero.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include auto-padding;
        color: white;
        line-height: 1.2;
        z-index: 3;

        h2 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .hero-title {
            font-size: 86px;
            text-transform: uppercase;
            margin: .5rem;
        }

        p {
            font-size: 1rem;
            padding: 0 2rem;
            line-height: 1.5;
            font-weight: 200;

            @include tablet {
                max-width: 75%;
            }

            @include desktop {
                max-width: 600px;
                font-size: 1.5rem;
            }
        }
    }

    .request-info-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color__seablue;
        color: white;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        z-index: 2;

        @include desktop {
            display: none;
        }

        h2 {
            font-weight: 400;
        }
    }

    .info {
        height: auto;
        @include auto-padding;

        @include tablet {
            padding: 3rem;
        }

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
        }

        .info-title {
            display: none;

            @include desktop {
                display: flex;
                font-size: $font__title-desktop;
                color: $color__deepblue;
            }
        }

        .info-list {
            list-style: none;
            margin: 0;
            padding: 0;

            @include desktop {
                max-width: 70%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 2fr;
                grid-gap: 20px 20px;
                margin-top: 3rem;
            }

            .info-list-item {
                display: flex;
                align-items: center;
                flex-flow: row no-wrap;
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 2rem;

                @include tablet {
                    flex-flow: column no-wrap;
                }

                @include desktop {
                    display: flex;
                    align-items: center;
                    flex-flow: column no-wrap;
                    text-align: center;
                }

                img {
                    height: 50px;
                    margin: 0 auto;
                }

                .info-container {
                    width: 70%;
                    margin: 0 auto;

                    h2 {
                        font-size: 1.5rem;
                        color: $color__deepblue;
                        margin: 1rem auto;

                        @include desktop {
                            font-size: 1.8rem;
                        }

                    }

                    p {
                        color: $color__darkgrey;
                        font-weight: 200;
                        margin-top: 0;
                        margin: 0 auto;

                        @include desktop {
                            font-size: $font__text-desktop;
                        }
                    }
                }
            }
        }
    }

    .our-section {
        background: $color__deepblue;
        color: white;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .story-photo {
            @include desktop {
                max-height: 500px;
            }

            img {
                width: 100vw;

                @include desktop {
                    max-width: 60vw;
                    height: 500px;

                }
            }
        }

        .our-story {
            @include auto-padding;
            font-weight: lighter;

            @include tablet {
                max-width: 85%;
                margin: 0 auto;
            }

            @include desktop {
                max-width: 600px;
                margin: 0 auto;
            }

            h2 {

                @include desktop {
                    font-size: $font__title-desktop;
                }
            }

            p {

                @include desktop {
                    font-size: $font__text-desktop;
                }
            }
        }
    }

    .our-programmes {
        @include auto-padding;

        @include desktop {
            padding-right: 5rem;
            padding-left: 5rem;
            height: 700px;
            @include flex-center;
            flex-direction: column;
        }

        h2 {
            color: $color__deepblue;

            @include desktop {
                text-align: center;
                font-size: $font__title-desktop;
                margin-bottom: 1rem;
            }
        }

        .programmes-grid {

            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 2fr;
                grid-gap: 40px 40px;
                max-width: 1150px;
                margin: 0 auto;
            }

            .programmes {
                padding: 1rem 2rem 2.5rem 1rem;
                margin: 2rem 0;
                background: $color__lightgrey;

                h3 {
                    color: $color__darkgrey;


                    @include desktop {
                        font-size: 1.5rem;
                    }
                }

                p {
                    font-weight: 200;
                    font-size: .8rem;

                    @include desktop {
                        padding-right: 3rem;
                        font-size: $font__text-desktop;
                    }
                }

                .btn {

                    @include desktop {
                        padding: .5rem 1.5rem;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .our-reviews {
        text-align: center;
        color: white;
        height: 400px;
        position: relative;

        @include desktop {
            height: 750px;
        }

        .review-container {
            background: $color__lightblue;
            padding: 3rem 1rem;
            min-height: 300px;

            @include desktop {
                height: 550px;
                @include flex-center;
                flex-flow: column no-wrap;
            }

            .review-text {
                padding-right: 2rem;
                padding-left: 2rem;
                font-weight: 200;
                margin: 0 auto;

                @include tablet {
                    max-width: 70%;
                }

                @include desktop {
                    max-width: 650px;
                    font-size: 1.8rem;
                    font-weight: bold;
                }
            }

            hr {
                width: 20%;
                background: $color__darkgrey;

                @include desktop {
                    height: 2px;
                    width: 50px;
                }
            }

            .review-author {

                h4 {
                    margin: 0;
                }

                p {
                    color: $color__darkgrey;
                    line-height: 0;
                    font-weight: lighter;
                }
            }
        }

        img {
            margin-top: -3.5rem;
            width: 110px;
            height: 110px;
            border-radius: 110px;
            border: 5px solid $color__lightblue;

            @include desktop {
                width: 200px;
                height: 200px;
                margin-top: -6rem;
            }
        }
    }

    .our-partners {
        @include auto-padding;

        @include desktop {
            height: 600px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }

        h2 {
            margin-top: 0;
            padding-bottom: 1rem;

            @include tablet {
                margin-left: 2rem;
            }

            @include desktop {
                text-align: center;
                margin: 0;
                margin-top: 2rem;
                font-size: $font__title-desktop;
            }
        }

        .partners {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include desktop {
                margin: 0 auto;
                width: 800px !important;
                height: 300px;
            }

            img {
                max-width: 20%;
                max-height: 20%;

                @include tablet {
                    max-width: 100px;
                }

                @include desktop {
                    max-width: 30%;
                    max-height: 30%;
                }
            }
        }
    }

    .our-community {
        display: flex;
        flex-flow: column no-wrap;
        text-align: center;
        color: white;
        background: $color__deepblue;
        @include auto-padding;

        @include desktop {
            height: 800px;
            justify-content: center;
        }

        .community-title {
            padding: 0 2rem;

            @include desktop {
                font-size: $font__title-desktop;
                width: 30%;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
        }

        .community-grid {

            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 2;
                grid-gap: 20px 20px;
                width: 60%;
                margin: 0 auto;
            }

            .community-containers {
                margin: 2rem;

                i {
                    font-size: 2rem;

                    @include desktop {
                        font-size: 3rem;
                        margin-bottom: 1.5rem;
                    }
                }

                h2 {
                    margin: 0;

                    @include desktop {
                        font-size: 1.8rem;
                    }
                }

                p {
                    margin: 0;
                    font-weight: 200;
                    font-size: .8rem;

                    @include desktop {
                        font-size: $font__text-desktop;
                    }
                }
            }
        }
    }

    .online-community {
        @include auto-padding;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .online-info {

            @include tablet {
                max-width: 50%;
            }

            @include desktop {
                max-width: 550px;
            }

            h2 {

                @include desktop {
                    font-size: $font__title-desktop;
                }
            }

            p {
                @include desktop {
                    font-size: $font__text-desktop;
                }
            }

            a {
                color: $color__darkgrey;

                @include desktop {
                    font-size: $font__text-desktop;
                }
            }
        }


        img {
            max-width: 40%;

            @include tablet {
                max-width: 30%;
            }

            @include desktop {
                max-width: 300px;
            }
        }
    }


    .association {
        background: $color__lightblue;
        color: white;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 550px;
        }

        img {
            width: 100vw;

            @include desktop {
                width: 60vw;
                height: 550px;
            }
        }

        .association-info {
            padding: 1rem 2rem 2.5rem 1rem;
            font-weight: 200;
            font-size: .8rem;

            @include tablet {
                max-width: 90%;
                margin: 0 auto;
            }

            @include desktop {
                width: 30%;
                margin: 0 auto;
                padding-right: 5%;
            }

            h2 {
                @include desktop {
                    font-size: $font__title-desktop;
                }
            }

            p {
                @include desktop {
                    font-size: $font__text-desktop;
                }
            }
        }
    }
}