/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
    .home-hero {
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%),
            #969696 url(../../assets/images/hero.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include auto-padding;
        color: white;
        line-height: 1.2;
        z-index: 3;

        h2 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .title {
            font-size: 86px;
            text-transform: uppercase;
            margin: .5rem;
        }

        p {
            font-size: 1rem;
            padding: 0 2rem;
            line-height: 1.5;
            font-weight: 200;

            @include tablet {
                max-width: 75%;
            }

            @include desktop {
                max-width: 600px;
            }
        }
    }

    .request-info-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color__seablue;
        color: white;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        z-index: 2;

        h2 {
            font-weight: 400;
        }
    }

    .info {
        height: auto;
        @include auto-padding;

        @include tablet {
            padding: 3rem;
        }

        .info-list {
            list-style: none;
            margin: 0;
            padding: 0;

            @include desktop {
                max-width: 50%;
                margin: 0 auto;
            }

            .info-list-item {
                display: flex;
                align-items: center;

                img {
                    height: 50px;
                    margin: 0 2rem 0 0;
                    border-radius: 50px;
                }

                .info-container {
                    width: 80%;

                    h2 {
                        font-size: 1.5rem;
                        color: $color__deepblue;

                    }

                    p {
                        color: $color__darkgrey;
                        font-weight: 200;
                        margin-top: 0;
                    }
                }
            }
        }

    }

    .our-section {
        background: $color__deepblue;
        color: white;

        img {
            width: 100vw;
        }

        .our-story {
            @include auto-padding;
            font-weight: lighter;

            @include tablet {
                max-width: 85%;
                margin: 0 auto;
            }

            @include desktop {
                max-width: 650px;
                margin: 0 auto;
            }
        }
    }

    .our-programmes {
        @include auto-padding;

        @include desktop {
            padding-right: 5rem;
            padding-left: 5rem;
        }

        h2 {
            color: $color__deepblue;

            @include desktop {
                text-align: center;
            }
        }

        .programmes-grid {

            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 2fr;
                grid-gap: 20px 20px;
            }

            .programmes {
                padding: 1rem 2rem 2.5rem 1rem;
                margin: 2rem 0;
                background: $color__lightgrey;


                h3 {
                    color: $color__darkgrey;
                }

                p {
                    font-weight: 200;
                    font-size: .8rem;
                }
            }
        }
    }

    .our-reviews {
        text-align: center;
        color: white;
        height: 400px;
        position: relative;

        .review-container {
            background: $color__lightblue;
            padding: 3rem 1rem;
            min-height: 300px;

            .review-text {
                padding-right: 2rem;
                padding-left: 2rem;
                font-weight: 200;
                margin: 0 auto;

                @include tablet {
                    max-width: 70%;
                }

                @include desktop {
                    max-width: 650px;
                }
            }

            hr {
                width: 20%;
                background: $color__darkgrey;
            }

            .review-author {
                margin-bottom: 10%;

                h4 {
                    margin: 0;
                }

                p {
                    color: $color__darkgrey;
                    line-height: 0;
                    font-weight: lighter;
                }
            }
        }

        img {
            margin-top: -3.5rem;
            width: 110px;
            height: 110px;
            border-radius: 110px;
            border: 5px solid $color__lightblue;
        }
    }

    .our-partners {
        @include auto-padding;

        h2 {
            margin-top: 0;
            padding-bottom: 1rem;

            @include desktop {
                text-align: center;
                margin-top: 3rem;
            }
        }

        .partners {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include desktop {
                max-width: 850px;
                margin: 0 auto;
            }

            img {
                max-width: 20%;
                max-height: 20%;

                @include tablet {
                    max-width: 100px;
                }

                @include desktop {
                    max-width: 150px;
                }
            }
        }
    }

    .our-community {
        display: flex;
        flex-flow: column no-wrap;
        text-align: center;
        color: white;
        background: $color__deepblue;
        @include auto-padding;

        h2 {
            padding: 0 2rem;
        }

        .community-containers {
            margin: 2rem;

            i {
                font-size: 2rem;
            }

            h2 {
                margin: 0;
            }

            p {
                margin: 0;
                font-weight: 200;
                font-size: .8rem;
            }
        }
    }

    .online-community {
        @include auto-padding;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .online-info {

            @include tablet {
                max-width: 50%;
            }

            @include desktop {
                max-width: 650px;
            }

            a {
                color: $color__darkgrey;
            }
        }


        img {
            max-width: 40%;

            @include tablet {
                max-width: 30%;
            }

            @include desktop {
                max-width: 300px;
            }
        }
    }


    .association {
        background: $color__lightblue;
        color: white;

        .association-info {
            padding: 1rem 2rem 2.5rem 1rem;
            font-weight: 200;
            font-size: .8rem;

            @include tablet {
                max-width: 90%;
                margin: 0 auto;
            }

            @include desktop {
                max-width: 650px;
                margin: 0 auto;
            }
        }
    }
}