.page-id-27{
    background: #E9F0F1;
.page-cover {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#01ADB5, #4a90e2);
    border-bottom: 1px solid lightgrey;
    .header-text{
        position: relative;
        margin: 1rem 1rem 1rem 4rem;
        text-align: left;
        font-size: 30px;
        color: #fff;
    }
    .under-text{
        position: relative;
        margin: -1.2rem 1rem 1rem 5rem;
        text-align: left;
        font-size: 18px;
        color: #fff;
    }
}
// may cause conflict
    h1.entry-title{
        margin: 1rem -5rem 1rem -3.4rem;
    }
    .hentry{
        margin: 1rem 4rem;
    }
    ul.wp-block-gallery.columns-3.is-cropped {
        display: flex;
        width: 380px;
        padding: 0rem 1rem;
        margin: 1rem -1.1rem;
    }
}