// This displays the Single Course layout
.single-courses {

  article {
    padding: 0rem 2rem;
  }
  .entry-title {
  }
  li {
    list-style-position: inside;
    padding-left: 0.10rem;
  }
  h1, h2 {
    color: #1f4354;
  }
}
